<html>
   <head>
      <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
         {% block title %}Terraform Front{% endblock %}
      </title>
      <link href="" rel="stylesheet">
   </head>
	
   <body>
   
      {% block content %}
         <div class="container-fluid">
			<div>
				This is for publicis.sapient image
			</div>
			
			<div>
				<div>
					<a href="http://52.66.104.117:8000/aws/login">This is for AWS img</a>
				</div>
				
				<div>
					This is for sape cloud img
				</div>
				
				<div>
					This is for Azure cloud img
				</div>
			</div>
			
			<div>
				This is for footer Page
			</div>
		 
		 </div>
      {% endblock %}
      
   </body>
</html>
